@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root { height: 100%; }
body { margin: 0; }

/* Hide browser default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
